#ajuda #produtos .bt {
    width: 100%;
    height: 60px;
    font-size: 26px;
    line-height: 20px;
}
#ajuda #produtos .mb-margin{
    margin-top: 60px;
    display: block;
}
#ajuda #contato .box {
    width: 100%;
    height: 200.16px;
}
#ajuda #contato .box .image1 {
    position: absolute;
    top: 27px;
    right: -8px;
}
#ajuda #contato .box p {
    font-weight: bold;
    font-size: 27px;
    margin: 53px 0 25px 0px;
    display: inline-block;
    width: 100%;
    z-index: 9;
    position: relative;
}
#ajuda #contato .box .bt {
    border: 1px solid #fff;
    padding: 22px 56px;
    display: inline-block;
    font-size: 28px;
    line-height: 0;
}
#desenvolvedores #topo p {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 45px;
}
#desenvolvedores #conteudo .bt {
    width: 281px;
    height: 50px;
    font-size: 21px;
}
#clientes #topo p {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 45px;
}
#clientes #conteudo form label input {
    width: 100%;
    font-size: 23px;
}
#clientes #conteudo form .bt {
    padding: 28px 60px;
    margin-top: 3px;
    font-size: 27px;
}
#clientes #conteudo .tit-cont {
    font-size: 30px;
}
#clientes #conteudo li{
    font-size: 25px;
}
#tutoriais #topo p {
    font-weight: normal;
    font-size: 22px;
    margin-bottom: 45px;
}
#tutoriais #conteudo .bt {
    width: 281px;
    height: 50px;
    font-size: 21px;
    font-weight: 600;
}