#topo-produtos .banner-produtos > div {
    padding: 190px 5% 130px 5%;
}
#roda-produtos #roda1 .image1 {
    left: -120px;
}
#roda-produtos #roda1 .image2 {
    display: none;
}
#roda-produtos #roda2 .bt {
    width: 294px;
    height: 57px;
    line-height: 17px;
    font-size: 21px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.14);
    margin: 27px 25px 0 0;
    padding: 20px 20px;
}
#roda-produtos #roda2 .bt .icon {
    float: right;
    margin-top: 0;
}
#roda-produtos #roda2 p {
    font-size: 22px;
}




#prod-zoug #para-voce .box-img img {
    margin: 0 auto 55px auto;
}
#prod-zoug #para-voce ul li {
    font-size: 20px;
}
#prod-zoug #para-voce .images .image1 {
    width: 100%;
}
#prod-zoug #para-voce .images .image2 {
    right: 378px;
}
#prod-zoug #recursos .menu-1 ul li {
    font-size: 19px;
}
#prod-zoug #recursos .menu-2 .box-text .text {
    margin: 0 5% 33px 5%;
    width: 556px;
}
#prod-zoug #recursos .menu-2 .box-text .text p {
    font-size: 21px;
    padding: 9px 10px 0 90px;
}
#prod-zoug #recursos .menu-2 .box-icons .icon span {
    font-size: 24px;
}
#prod-zoug #recursos .menu-3 .box p {
    font-size: 21px;
    padding: 0 15px;
}
#prod-zoug #recursos .menu-3 .box {
    height: 200px;
}
#prod-zoug #planos .description > span {
    font-size: 25px;
}
#prod-zoug #planos .description p {
    font-size: 30px;
}
#prod-zoug #planos .description ul {
    font-size: 20px;
}
#prod-zoug .infos .campanhas .box-campanha p {
    font-size: 21px;
    font-weight: 700;
}
#prod-zoug .infos .leg span {
    font-size: 22px;
}
#prod-zoug .infos .leg p {
    font-size: 21px;
    margin-left: -13px;
}
#prod-zoug .infos .assine span {
    font-size: 21px;
}
#prod-zoug .infos .assine p {
    font-size: 28px;
}




#prod-builder #para-voce .box-img img {
    margin: 0 auto 55px auto;
}
#prod-builder #para-voce ul li {
    font-size: 20px;
}
#prod-builder #para-voce .images .image1 {
    width: 100%;
}
#prod-builder #para-voce .images .image2 {
    display: none;
}
#prod-builder #recursos .menu-1 ul li {
    font-size: 19px;
}
#prod-builder #recursos .menu-2 .box p {
    font-size: 21px;
    padding: 0 15px;
}
#prod-builder #recursos .menu-2 .box {
    height: 200px;
}
#prod-builder #planos .description > span {
    font-size: 25px;
}
#prod-builder #planos .description p {
    font-size: 30px;
}
#prod-builder #planos .description ul {
    font-size: 20px;
}
#prod-builder .infos .campanhas .box-campanha p {
    font-size: 21px;
    font-weight: 700;
}
#prod-builder .infos .leg span {
    font-size: 22px;
}
#prod-builder .infos .leg p {
    font-size: 21px;
    margin-left: -13px;
}
#prod-builder .infos .assine span {
    font-size: 21px;
}
#prod-builder .infos .assine p {
    font-size: 28px;
}


#prod-sms #para-voce .box-img img {
    margin: 0 auto 55px auto;
}
#prod-sms #para-voce ul li {
    font-size: 20px;
}
#prod-sms #para-voce .images .image1 {
    width: 100%;
}
#prod-sms #para-voce .images .image2 {
    display: none;
}
#prod-sms #recursos .menu-1 ul li {
    font-size: 19px;
}
#prod-sms #recursos .menu-2 .box p {
    font-size: 21px;
    padding: 0 15px;
}
#prod-sms #recursos .menu-2 .box {
    height: 200px;
}
#prod-sms #planos .description > span {
    font-size: 25px;
}
#prod-sms #planos .description p {
    font-size: 30px;
}
#prod-sms #planos .description ul {
    font-size: 20px;
}
#prod-sms .infos .campanhas .box-campanha p {
    font-size: 21px;
    font-weight: 700;
}
#prod-sms .infos .leg span {
    font-size: 22px;
}
#prod-sms .infos .leg p {
    font-size: 21px;
    margin-left: -13px;
}
#prod-sms .infos .assine span {
    font-size: 21px;
}
#prod-sms .infos .assine p {
    font-size: 28px;
}
#prod-sms #para-voce .infos .image-align {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
#prod-sms #para-voce .infos p {
    font-size: 20px;
}
#prod-sms #para-voce .infos span {
    font-size: 20px;
}
#prod-sms .infos{
    padding: 0;
}
#prod-sms #como-funciona .align-center h2 {
    margin-top: 0;
}
#prod-sms #como-funciona .align-center .bx-cf span {
    top: -6px;
}
#prod-sms #como-funciona .align-center .bx-cf p {
    font-size: 24px;
}

