#sobre #sobre-zink {
    margin-top: 0;
}
#sobre #sobre-zink .d-text p {
    font-size: 23px;
}
.d-image{
     display: none;
 }
 #sobre #manifesto .box img{
     display: none;
 }
 #sobre #manifesto .box {
    padding: 38px 15px 55px 15px;
 }
 #sobre #manifesto .box p {
    font-size: 24px;
    line-height: 45px;
}
#sobre #manifesto .box a {
    font-size: 24px;
}
#sobre #carreira table th {
    font-size: 24px;
}
#sobre #carreira table tbody tr td {
    font-size: 20px;
}
#sobre #carreira table tbody tr td a{
    width: 190px;
    font-size: 23px;
}
#sobre #nossas-politicas .bt {
    width: 297px;
    height: 40px;
    font-size: 22px;
}
#sobre #nossas-politicas .bt .icon {
    margin-top: -10px;
}